/* variáveis para o BOTÃO */
$border__button_style: solid;
$border__button_radius: 4px;
$border__button_width: 1px;

/* variáveis para a MODAL  */
$border__modal_style: solid;
$border__modal_radius: 5px;
$border__modal_width: 1px;
$border__modalHeader_style: solid;
$border__modalHeader_width: 1px;
$border__modalFooter_style: solid;
$border__modalFooter_width: 1px;

/* variáveis para a CARD  */
$border__cardHeader_style: solid;
$border__cardHeader_radius: 6px 6px 0 0;
$border__cardHeader_width: 1px;
$border__cardBody_style: solid;
$border__cardBody_radius:  0 0 6px 6px;
$border__cardBody_width: 1px;