/* variáveis para o TEXTO em geral dos projetos */
$color__main_text: #5A5A5A;

/* variáveis para o BOTÃO */
$color__button_border: rgba(0, 0, 0, 0.1);

/* ------ primário */
$color__button_background--primary: #404040;
$color__button_text--primary: #FFFFFF;
$color__button_background--primary-hover: #333333;
$color__button_text--primary-hover: #FFFFFF;

/* variáveis para a MODAL  */
$color__modal_BackgroundBefore: rgba(0,0,0,0.6);
$color__modal_Background:#fefefe;
$color__modal_border: #555555;
$color__modalHeader_border: #eaeaea;
$color__modalFooter_border: #eaeaea;

/* variáveis para a CARD  */
$color__cardHeader_Background:#eaeaea;
$color__cardHeader_border: #eaeaea;
$color__cardBody_border: #eaeaea;