/* variáveis para o TEXTO em geral dos projetos */
$font__main_textFamily: 'Lato', sans-serif;
$font__main_textLineHeight: 1.21rem; /* 17.03px */
$font__main_textSize: 0.88rem; /* 14.08px */

/* variáveis para o TÍTULO da página */
$font__headline_titleLineHeight: 2.2rem; /* 30.97px */
$font__headline_titleSize: 1.85rem; /* 26.048px */
$font__headline_titleWeight: bold; 

/* variáveis para a MODAL  */
$font__modal_titleLineHeight: 1.85rem; /* 26.048px */
$font__modal_titleSize: 1.57rem; /* 22.10px */

/* variáveis para o BOTÃO */
$font__button_textWeight: bold; 

/* variáveis para a CARD  */
$font__card_titleWeight: bold; 