/* variáveis para o CONTEÚDO em geral dos projetos */
$margin__content: 30px;

/* variáveis para o BOTÃO */
$margin__button_iconText: 0 10px 0 0;

/* variáveis para a MODAL  */
$margin__modalHeader_title: 0;