@charset "UTF-8";
/* variáveis para a MODAL  */
/* variáveis para o BOTÃO */
/* variáveis para a MODAL  */
/* variáveis para a CARD  */
/* variáveis para o TEXTO em geral dos projetos */
/* variáveis para o BOTÃO */
/* ------ primário */
/* variáveis para a MODAL  */
/* variáveis para a CARD  */
/* variáveis para o TEXTO em geral dos projetos */
/* 17.03px */
/* 14.08px */
/* variáveis para o TÍTULO da página */
/* 30.97px */
/* 26.048px */
/* variáveis para a MODAL  */
/* 26.048px */
/* 22.10px */
/* variáveis para o BOTÃO */
/* variáveis para a CARD  */
/* variáveis para o BOTÃO */
/* variáveis para o CONTEÚDO em geral dos projetos */
/* variáveis para o BOTÃO */
/* variáveis para a MODAL  */
/* variáveis para a CARD  */
/* variáveis para a UTILITÁRIO  */
/* variáveis para o BOTÃO */
/* variáveis para a MODAL  */
/* variáveis para a CARD  */
/* Importa todas as variáveis nesse arquivo com @foward*/
/* 
    utilizado para se designar a estrutura geral da estilização do CSS
    usado apenas para as tags:
      - html
      - body
*/
html {
  color: #5A5A5A;
  font-family: "Lato", sans-serif;
  font-size: 0.88rem;
  line-height: 1.21rem;
}

/*
    este utilitário: u-connection__modal
    NÃO é uma classe, ele fará apenas a conexão dos elementos principais da modal.
*/
.nomearClasse2 {
  margin-top: 20px;
}

.a-title__headline {
  font-size: 1.85rem;
  font-weight: bold;
  line-height: 2.2rem;
}

.a-title__modal {
  font-size: 1.57rem;
  line-height: 1.85rem;
  margin: 0;
}

.nomearClasse4 {
  font-weight: bold;
  margin: 0;
}

.m-button {
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  height: 34px;
  padding: 7px 12px;
  white-space: nowrap;
  box-sizing: border-box;
}
.m-button--primary {
  color: #FFFFFF;
  background: #404040;
}
.m-button--primary:hover {
  color: #FFFFFF;
  background: #333333;
  text-decoration: none;
}
.m-button--iconText {
  margin: 0 10px 0 0;
}

.nomearClasse1 {
  width: 25%;
}
.nomearClasse1 .nomearClasse3 {
  background-color: #eaeaea;
  border-color: #eaeaea;
  border-radius: 6px 6px 0 0;
  border-style: solid;
  border-width: 1px;
  padding: 20px;
}
.nomearClasse1 .nomearClasse5 {
  border-color: #eaeaea;
  border-radius: 0 0 6px 6px;
  border-style: solid;
  border-width: 1px;
  padding: 20px;
}

.o-content {
  margin: 30px;
}

.o-modal:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
}
.o-modal--open:checked ~ .o-modal:before, .o-modal--open:checked ~ .o-modal .o-modal--overlay {
  display: block;
}
.o-modal--open:checked ~ .o-modal .o-modal__dialog {
  transform: translate(-50%, -50%);
  position: fixed;
  top: 40%;
}
.o-modal--overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 102;
}
.o-modal__dialog {
  background: #fefefe;
  border-color: #555555;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  position: fixed;
  left: 50%;
  top: -100%;
  transform: translate(-50%, -150%);
  transition: transform 0.6s ease-in-out;
  width: 80%;
  max-width: 600px;
  z-index: 103;
}
.o-modal__header {
  border-bottom-color: #eaeaea;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.o-modal__header, .o-modal__footer, .o-modal__body {
  padding: 20px;
}
.o-modal__footer {
  border-top-color: #eaeaea;
  border-top-style: solid;
  border-top-width: 1px;
  text-align: right;
}

/* Configurações básicas do projeto - CORE */
/* Classes individuais e elementos pequenos e reutilizáveis - ÁTOMOS */
/* Cria um elemento 'pai' para modificar os átomos - MOLÉCULAS */
/* Estruturas maiores do projeto, que podem modificar átomos e moléculas - ORGANISMOS*/

/*# sourceMappingURL=style.css.map */
